mat-accordion {
  width: 100%;
  margin:20px 0 auto 0;
  display:block;
}
mat-card, mat-expansion-panel {
  margin-top:15px;
}
mat-spinner {
  margin: auto;
}
.post-image {
 width: 100%;
}
.post-image img {
  width:100%;
  max-width:400px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
