<div id="post-create">
  <mat-toolbar color="primary">
    <span><a routerLink="/">My Messages</a></span>
    <span class="spacer"></span>
    <ul>
      <!-- Use angular router link directive to turn this into a normal link -->
      <li>
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li>
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li>
        <a mat-button routerLink="/singup" routerLinkActive="mat-accent">Signup</a>
      </li>
    </ul>
  </mat-toolbar>
</div>
