<div id="post-create-component">
  <h2>Add A Post</h2>
  <mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle"> -->
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        placeholder="Post Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        id="post-create-text"
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Post Content"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
  </mat-card>
</div>
